
.menu {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      padding: 10px 0;
    }
  
    a {
      text-decoration: none;
      color: #333;
      font-size: 18px;
      display: block;
      padding: 5px 10px;
      
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
  